.booking-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color:azure;
  }
  
  
  .booking-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .booking-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .booking-form-container form > * {
    margin-bottom: 15px;
  }
  
  .booking-form-container form > :last-child {
    margin-bottom: 0;
  }
  