.container {
    display: flex;
    justify-content: center;
  }

  .page{
    background-color: aliceblue;
  }

  .avatar-wrapper {
    text-align: center;
  }
  
  .avatar-text {
    font-size: 30px;
    color: #333;
    margin-top: 10px;
  }